div > * {
    border: 1pt dashed black;
}

/* this works for screen-widths greater than 1200px */

.container {
  height: 100%;
  display: grid;
  grid-template-areas:
      "h h h h h h h h h h h h"
      "c c c c c c c c c c c c"
      "f f f f f f f f f f f f";
}

.header {
  grid-area: h;
  display: flex;
}

.main-container {

    /* this needs to be on its own line
     * for the sake of the D3 code on top of the map */
    grid-area: c;

    width:auto;
    height:600px;
}
