// drawing grid
// horizontal lines
for (var row = 1; row < 3; row++) {
    plot.append('line')
        .attr('x1',(width/3) * row)
        .attr('y1',0)
        .attr('x2',(width/3) * row)
        .attr('y2',height)
        .classed('grid', true)
        .classed('horizontal', true);
};

// vertical lines
for (var col = 1; col < 3; col++) {
    plot.append('line')
        .attr('x1',0)
        .attr('y1',(height/3) * col)
        .attr('x2',width)
        .attr('y2',(height/3) * col)
        .classed('grid', true)
        .classed('vertical', true);
};
